body {
    margin: 0;
    font-family: 'Baloo Thambi', cursive;
    background-color: #46ACAC;
}

button {
    font-family: 'Baloo Thambi', cursive;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#theButton {
    background-color: #F0720A;
    color: #FFF;
}

#startButton {
    background-color: #F0720A;
    color: #FFF;
}

#lobbydesu {
    text-align: center;
}

.nicelink {
    background-color: #F0720A;
    color: #FFF;
}

.oneThird {
    width: 32.99%;
    float:left;
    border: 1px solid black;
}

.bigButton {
    height: 100vh;
    width: 100vw;
    font-size: 20vw;
    border: none;
}

.bigLink {
    height: 100vh;
    width: 100vw;
    font-size: 20vw;
    border: none;
    text-align: center;
    line-height: 100vh;
    float: left;
    text-decoration: none;
}

.splitbutton {
    height: 50vh;
    width: 100vw;
    font-size: 50px;
    border: none;
    float: left;
    text-align: center;
    text-decoration: none;
    padding: 0px;
}

.shadowme {
    box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.shadowme:active {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

@media (max-width: 900px){
	.oneThird {
		width: 100%;
		border-bottom: 3px solid black;
		padding: 30px 0;
	}
}